.container
{
    width: 380px;
    background-color: #606167;
    text-align: -webkit-center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 5%;
    box-shadow: 3px 3px 5px 6px #ccc;
    border: ridge;
}
.displayScreenRow {overflow: hidden; background-color: #d0d6e1; width: 330px; border-radius: 5px; border: solid; margin-bottom: 30px; height: 100px; align-content: center;}
input
{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: outset;
    margin-right: 10px;
    font-size: xx-large;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.pushable:focus:not(:focus-visible)
{
    outline: none;
}
#clear {width: 130px}
#delete {width: 130px}